<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
    (click)="addClick()" data-backdrop="static" data-keyboard="false" style="margin-left: 600px;">
    Add Department
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">{{ModalTitle}}</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <app-add-dep> [dep]="dep" *ngIf="ActivateAddEdit" </app-add-dep>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
  <div class="table">
    <table class="table table-dark table-striped-columns">
      <thead>
        <tr class="table-primary">
          <th scope="col">DEPARTMENT ID</th>
          <th scope="col">DEPARTMENT NAME</th>
          <th scope="col">OPTIONS</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let i of DepartmentList">
          <td>{{i.Dep_id}}</td>
          <td>{{i.Dep_name}}</td>
          <td>
            <button type="button" class="btn btn-info">Edit</button>&nbsp;
            <button type="button" class="btn btn-info">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>

</html>